.col-md-4.weather-plugin
    .card.mb-4
        .card-body
            h5#place Ottawa
            .temp
                .temp-val#temp-celsius 0°C
                .temp-val#temp-fahrenheit 0°F
                center.icon
                    i#icon.wi.wi-night-sleet
                    label(for='icon') Sunny
            .wind-and-highlow.row
                .temp.section.offset-xl-1.col-xl-4.col-lg-5
                    span.temp-val#low low: 0°C, 0°F
                    br
                    span.temp-val#high high: 0°C, 0°F
                .icon.section.col-xl-7.col-lg-7
                    i#icon.wi.wi-wind-beaufort-0
                    span#description hurricane force
            hr
            .week.row
                .day.col-lg-4#day1
                    center#day Thursday
                    center.icon
                        i#icon.wi.wi-night-sleet
                        label(for='icon') Sunny
                    center
                        .temp-val#temp-celsius 0°C
                        .temp-val#temp-fahrenheit 0°F
                .day.col-lg-4#day2
                    center#day Friday
                    center.icon
                        i#icon.wi.wi-night-sleet
                        label(for='icon') Sunny
                    center
                        .temp-val#temp-celsius 0°C
                        .temp-val#temp-fahrenheit 0°F
                .day.col-lg-4#day3
                    center#day Saturday
                    center.icon
                        i#icon.wi.wi-night-sleet
                        label(for='icon') Sunny
                    center
                        .temp-val#temp-celsius 0°C
                        .temp-val#temp-fahrenheit 0°F
            .sun
                hr
                H5#section Sun & Moon
                center.moon.icon
                    i#icon.wi.wi-moon-alt-waxing-gibbous-4
                    label(for='icon') waxing gibbous
                #times
                    #sunrise.float-left 1:00am
                    #sunset.float-right 24:00pm
                    br
                    .progress
                        .progress-bar.bg-warning.progress-bar-striped(role='progressbar' style='width:0%' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100')
                    center 
                        div#daylight 
                        div#time-until 