.col-md-4.weather-plugin
    .card.mb-4
        .card-body
            div
                h5#place Ottawa 
                a#weather-refresh.wi.wi-cloud-refresh(href="#")
            .today
                .row
                    .col-lg-12.weather-description
                        span.weather-icon
                            i.wi.wi-night-alt-snow
                        span.description sunny
                        .current-feels-like
                            span.description Feels like 9
                            i.wi.wi-celsius
                    .col-lg-6
                        .current-temp
                            span.description 9
                            i.wi.wi-celsius

                    .col-lg-6.text-right
                        .current-temps
                            span.current-high
                                i.wi.wi-direction-up
                                span.description 99
                                i.wi.wi-celsius
                            span.current-low
                                i.wi.wi-direction-down 
                                span.description 99
                                i.wi.wi-celsius
                    .col-lg-12.text-right
                        .wind.wind-description
                            i.wi.wi-wind-beaufort-4
                            br
                            span.wind-speed 3.14 m/s
            hr
            .forecast.row
                .day.col-lg-4
                    #day-of-week Unknown
                    #day-of-week-sm Unk
                    i#weather-icon.wi.wi-alien(title="unknown") 
                    span.temp 99
                    i.wi.wi-celsius
                .day.col-lg-4
                    #day-of-week Unknown
                    #day-of-week-sm Unk
                    i#weather-icon.wi.wi-alien(title="unknown") 
                    span.temp 99
                    i.wi.wi-celsius
                .day.col-lg-4
                    #day-of-week Unknown
                    #day-of-week-sm Unk
                    i#weather-icon.wi.wi-alien(title="unknown") 
                    span.temp 99
                    i.wi.wi-celsius
            .sun
                hr
                H5#section Sun & Moon
                center.moon.icon
                    i#icon.wi.wi-alien
                    label(for='icon') waxing gibbous
                #times
                    #sunrise.float-left 1:00am
                    #sunset.float-right 24:00pm
                    br
                    .progress
                        .progress-bar.bg-warning.progress-bar-striped(role='progressbar' style='width:0%' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100')
                    center 
                        div#daylight 
                        div#time-until 